Property Inspector
<div style="display: flex; flex-direction: column" *ngIf="timelineService.selectedAnimatable | async; let animatable">
    <control *ngFor="let property of selectedAnimatable.properties" [type]="property.type" [label]="property.label" [property]="animatable[property.property]"></control>
</div>

<div *ngIf="timelineService.selectedKeyframe | async; let keyframe">
    {{ keyframe.easing }}
    <select (change)="changeSelectedEasing($event)">
        <option *ngFor="let easing of easings; let i = index" [selected]="easing.name === selectedEasing.name" [value]="i">{{ easing.name }}</option>
    </select>

    <select *ngIf="selectedEasing && selectedEasing.options.length > 0" (change)="changeSelectedEasingOption($event)">
        <option *ngFor="let option of selectedEasing.options" [value]="option" [selected]="option === selectedEasing.selectedOption">{{ option }}</option>
    </select>

    <ng-container *ngIf="selectedEasing">
        <ng-container *ngFor="let param of selectedEasing.parameters">
            <input *ngIf="param.type === 'number'" type="number" [min]="param.min" [max]="param.max" [value]="param.value" />
        </ng-container>
    </ng-container>
</div>

<button (click)="newElement()">New Element</button>
<button (click)="newDummyElement()">New Dummy</button>

