/* You can add global styles to this file, and also import other style files */


body {
    background: #000;
    --input-color: "#22233e";
    --main-text-color: "#fff";
    --secondary-text-color: #A1A4D1;
    --panel-background: #141629;
}