/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    font-family: Inter,sans-serif;
    font-size: 14px;

    --input-color: "#22233e";
    --main-text-color: #ffffff;
    --secondary-text-color: #A1A4D1;
    --panel-background: #141629;
}