:host {
    display: flex;
    width: 800px;
    min-width: 100vw;
    height: 20px;
    background: #f5f5f5;
    border-top: 1px solid #d3d3d3;
    user-select: none;
}

.property-label {
    width: 100px;
    overflow: hidden;
    background: #575757;
    color: #fff;
    border-right: 1px solid #000;
    padding-left: 10px;
    box-sizing: border-box;
    user-select: none;
}

.keyframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 10px;
    overflow: visible;
    user-select: none;

    .diamond {
        width: 10px;
        height: 10px;
        background: #ff0000;
        transform: rotate(-45deg);
        position: absolute;
        top: 5px;
        left: -5px;
        user-select: none;
    }
}

.tween {
    position: absolute;
    left: 0;
    top: 0px;
    height: 20px;

    .tween-inner {
        position: absolute;
        left: 0;
        right: 0;
        top: 9px;
        height: 2px;
        background: #ff0000;
    }
}
